/* --------------fonts
------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Redressed&family=Roboto+Condensed&family=Ubuntu&display=swap');

/* ---------common style 
-------------------------------*/
body{
    font-family: 'Poppins', sans-serif;    
}
.container{
position: absolute;
width: 100%;
height: 677px;
left: 0px;
top: 0px;
margin-bottom: 70px;
background-color: #2D25A0;
}
.top-banner{
display: grid;
grid-template-columns: repeat(2, 1fr);
justify-content: center;
align-items: center;

            
}
.top-area{
position: absolute;
width: 485px;
height: 230px;
left: 156px;
top: 100px;
padding-right: 44px;
font-family: Poppins;
font-style: normal;
color: #FFFFFF;
font-weight: bold;
font-size: 64px;
line-height: 1.5em;
}
.anchor {
position: absolute;
top:550px;
left:150px;
margin-top: 27px;
text-decoration: none;
border-radius: 10px;
padding: 10px 24px;
color:white;
background: #E02C6D;
box-shadow: inset 0 0 0 0 cyan;
transition: ease-in-out 0.3s;
}
.top-button:hover button{
    box-shadow: inset 300px 0 0 0 cyan;
    font-size: 2em;
    color:black;
    font-weight: 700;
}
.icon{
    padding-left: 10px;
}

.banner img{
    position: absolute;
width: 556.01px;
height: 438px;
left: 800px;
top: 125px;
margin-right: 198px;
}
.player-area{
position: absolute;
top:650px;
 margin-top: 70px;
}

.top-players{
    position: relative;
    left:200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
    justify-items: center;
  
}
.player-detail{
    border: 1px solid whitesmoke;
    height:500px;
    width:300px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    

}

.about-player h3{
    font-size: 30px;
    font-weight: 700;
}
.player-detail .player img{
    height:300px;
    width:300px;
}
.subscribe-container{
    position:absolute;
    top:3000px;
    height:300px;
    width:100%;
    border:2px solid blue;
    background-color: #2D25A0;
}
.subscribe h2{
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
}
.subscribe-button{
    position:absolute;
    top:130px;
    margin-left: 0px;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 1.5em;
    padding: 10px 25px;
    border-radius: 5px;  
    box-shadow: inset 0 0 0 0 cyan;
    transition: ease-in-out 0.3s;
}
.center-align{
    
    text-align: center;
}
.center-align:hover button{
    box-shadow: inset 300px 0 0 0 cyan;
    font-size: 2em;
    color:black;
    font-weight: 700;
}
.footer-image img{
    position: absolute;
    top:3350px;
    left: 400px;
    height: 110px;
    width:483px;
    
}
.footer-icon{
    position:absolute;
    top:3450px;
    left:600px;
   
}
.fa-brands{
    font-size: 32px;
    margin: 20px 14px;
    color:lightslategray ;
}
.footer-icon p{
    font-weight: 700;
}
/*-------------------------------
    media Qyeries
 ---------------------------------- */
 /*-------------------
    mobile devices
  ------------------------- */
@media only screen and(max-width:480px) {
    .container{
        width:400px;
        height:200px;
    }
    .top-banner{
        grid-template-columns: repeat(1, 1fr);
    }
    .top-area{
        position:relative;
        left:20px;
        width:100%;
        height: 200px;
        font-size: 20px;
        
    }
    .top-players{
        grid-template-columns: repeat(1,1fr);
        
    }
    .subscribe-container{
        height:100px;
        width:100%;

    }
    .subscribe h2{
        font-size: 20px;
    }
    .footer-image img{
        position:relative;
        left:2px;
        width:200px;
        height:100px;

    }
}
